:root {
  --decor-primary-color: rgba(173, 72, 68, 1);
  --font-color-light: rgba(216, 216, 216, 1);
  --font-color-light-active: rgba(255, 255, 255, 1);
  --font-color-darck: rgba(17, 17, 17, 1);
  --bg-primary-color: rgba(246, 246, 246, 1);
  --bg-mob-primary-color: rgba(241, 241, 241, 1);
  --decor-secondary-color: rgba(48, 171, 76, 1);

  /*  */

  --font-futura-pt: "Futura PT", sans-serif, Arial;
}
/* FONT --- https://www.cdnfonts.com/futura-pt.font */
/* @import url("https://fonts.cdnfonts.com/css/futura-pt"); */
@font-face {
  font-family: "Futura Pt";
  font-style: normal;
  src: url("./font/FuturaPT-Book.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary-color);
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  section {
    width: 100%;
  }
}

/* nav,
div, */
/* 
img {
  border: 1px solid red;
} */

nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: auto;

  top: 0;
  left: 0;
  margin: 0;
  padding: 0;

  z-index: 1000;
}

nav .nav-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 122px;
  min-height: 45px;

  background-color: var(--bg-primary-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-container .logo-wrapper {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 239px;
  height: 29px;
  left: 10vw;
  cursor: pointer;
}
.logo-wrapper img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  object-fit: contain;
}

.nav-container .desc-items {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 351px;
  height: 28px;
}
.nav-container .desc-items .nav-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: fit-content;
  height: 100%;
  text-transform: uppercase;
  list-style: none;

  color: var(--font-color-darck);
  font-family: var(--font-futura-pt);
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.nav-container .desc-items .nav-item:hover {
  border-bottom: 1px solid rgba(17, 17, 17, 1);
  /* font-weight: 700; */
}

.desc-active-item {
  border-bottom: 1px solid rgba(17, 17, 17, 1);
  /* font-weight: 700; */
  transition: all ease 0.3s;
}

.hidden-items {
  display: none;
  width: 0;
  height: 0;
  font-size: 0px;
  line-height: 0px;
  color: transparent;
  background-color: transparent;
}
.mob-items,
.mob-items .mob-item {
  display: none;
  width: 0;
  height: 0;
  font-size: 0px;
  line-height: 0px;
}
@media screen and (max-width: 1240px) {
  body {
    width: 100%;
    background-color: var(--bg-mob-primary-color);
  }
  nav {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;
  }
  nav .nav-container {
    width: 100%;
    height: 50px;
    box-shadow: none;

    background-color: rgba(241, 241, 241, 1);
    z-index: 10;
  }

  .nav-container .logo-wrapper {
    box-sizing: border-box;
    width: 94px;
    height: 12px;

    left: 15px;
  }

  .mob-menu-toggle {
    position: fixed;
    justify-content: center;
    width: 18px;
    height: 18px;

    top: 16px;
    right: 21px;
    margin: 0;
    padding: 0;

    font-size: 0px;
    line-height: 0px;

    transition: all ease 0.3s;

    z-index: 1200;
  }

  .mob-menu-toggle-disabled::before {
    content: "";

    position: absolute;
    width: 100%;
    height: 3px;

    top: 0;
    right: 0;

    background-color: var(--decor-primary-color);
  }

  .mob-menu-toggle-disabled::after {
    content: "";

    position: absolute;
    width: 100%;
    height: 3px;

    bottom: 0;
    right: 0;

    background-color: var(--decor-primary-color);
  }

  .mob-menu-toggle-active::before {
    content: "";

    position: absolute;
    width: 100%;
    height: 3px;

    top: 50%;
    right: 1px;

    background-color: var(--decor-primary-color);
    transform: rotate(45deg) translate(0, -50%);
  }
  /* .nav-container  */
  .mob-menu-toggle-active::after {
    content: "";

    position: absolute;
    width: 100%;
    height: 3px;

    bottom: 50%;
    right: 1px;

    background-color: var(--decor-primary-color);
    transform: rotate(-45deg) translate(0, 50%);
  }

  /* .nav-container  */
  .mob-menu-toggle .line-burger-active {
    display: flex;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 50%;
    left: 0;

    transform: translateY(-50%);
    background-color: var(--decor-primary-color);
  }

  .nav-container .desc-items {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    font-size: 0px;
    line-height: 0px;
    color: transparent;
    background-color: transparent;
  }

  .mob-items {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 230px;
    top: 50px;
    right: 0;

    transform: translateX(120%);
    transition: all ease 0.4s;
    z-index: 1200;
  }
  .mob-item-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    color: var(--font-color-light);
    background-color: var(--decor-primary-color);
  }
  .mob-nav-active {
    transform: translateX(0);
  }

  .mob-items .mob-item {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-self: center;
    text-transform: uppercase;
    width: max-content;
    height: fit-content;
    font-family: var(--font-futura-pt);
    font-size: 16px;
    line-height: 18px;
    list-style: none;
  }
  .mob-item a {
    text-decoration: none;
    color: var(--font-color-light);
  }
  /* 444  .mob-item-active */
  .desc-active-item {
    color: var(--font-color-light-active);
    border-bottom: 1px solid;
    border-color: var(--font-color-light-active);
  }
}

/* section HERO */

.hero {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 867px;
  height: auto;
  width: 100%;
  margin: 153px auto 0 auto;
}

.img-wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 682px;
  height: 867px;

  z-index: 10;
}

.product-main-foto {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.hero-description {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;

  padding: 0 18px 0 0;
}
.hero-title {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin: 110px 0 0 0;
  padding: 0;
  font-family: var(--font-futura-pt);
  font-weight: 400;
  font-size: 120px;
  overflow-wrap: break-word;
}
.dark-part {
  display: flex;

  color: var(--font-color-darck);
}

.primary-part {
  color: var(--decor-primary-color);
}

.hero-description .wrapper {
  display: flex;
  flex-direction: column;
  max-width: 710px;
  width: auto;
  z-index: 10;
}

.wrapper .grdnt-text {
  margin: 50px 0 0 0;
}

.grdnt-text {
  font-family: var(--font-futura-pt);
  font-size: 48px;
  width: auto;

  background-clip: text;
  color: transparent;
  overflow-wrap: break-word;
}
.grdnt-linear {
  background-image: linear-gradient(90.01deg, #111111 -8.85%, #b1b1b1 116.12%);
}
.grdnt-radial {
  background-image: linear-gradient(
    90.01deg,
    #111111 -8.85%,
    #b1b1b1 58.84%,
    #696969 91.39%,
    #b1b1b1 116.12%
  );
}

.hero-grdnt {
  width: 100%;
  height: auto;
}
.text {
  display: flex;
  width: 80%;
  font-family: var(--font-futura-pt);
  font-size: 20px;
  line-height: 26px;
  color: var(--font-color-darck);
  overflow-wrap: break-word;
}

.hero-description .wrapper .buy-now {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;

  width: 171px;
  height: 46px;

  margin: 30px 0 0 0;

  font-family: var(--font-futura-pt);
  font-size: 20px;
  font-weight: 700;

  color: var(--bg-primary-color);
  background-color: var(--decor-secondary-color);
  z-index: 10;
}

@media screen and (min-width: 769px) and (max-width: 1240px) {
  .hero {
    height: 600px;
    min-height: fit-content;
    margin: 70px auto 0 auto;
  }
  .img-wrapper {
    height: 540px;
  }
  .hero-title {
    margin-top: 12%;
    font-size: 60px;
  }
  .grdnt-text {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    min-height: fit-content;
    width: 100%;
    /* width: 90%; */
    height: auto;
    margin: 94px auto 0 auto;
  }
  .img-wrapper {
    width: 100%;
    height: 368px;
  }
  .product-main-foto {
    width: 100%;
    height: 368px;
    margin: 0 auto;
    object-position: center;
  }

  .hero-description {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .hero-title {
    display: none;
  }

  .hero-description .wrapper {
    width: 100%;
    text-align: center;
  }

  .grdnt-text {
    font-size: 20px;
    line-height: 26px;
  }

  .hero-description .wrapper .text {
    display: flex;
    max-width: 273px;
    margin: 20px auto 0 auto;
    font-size: 13px;
    line-height: 17px;
  }

  .hero-description .wrapper .buy-now {
    display: none;
  }
}

/* DECORATION ELEMENT */
.decor-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 153px;

  z-index: -10;
}

.decor-abstr {
  position: absolute;
  box-sizing: content-box;
  display: flex;

  overflow: hidden;
  z-index: 10;
}

.decor-abstr-1 {
  width: 500px;
  height: 324px;
  left: 0;
  top: -80px;
}

.decor-1 {
  display: flex;
  height: 320px;
  width: 812px;
  background-image: url("./img/blot-grey.svg");
  background-size: contain;
  background-position: 10px 0;
  background-repeat: no-repeat;

  transform: rotate(-60deg) translate(-180px, -180px);
}
.decor-abstr-2 {
  width: 500px;
  height: 324px;
  right: 0;
  top: -100px;
}
.decor-2 {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  height: 320px;
  width: 812px;
  top: 0;
  left: 60px;
  background-image: url("./img/blot-grey.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.decor-abstr-3 {
  width: 180px;
  height: 320px;
  right: 0;
  top: -400px;
}
.decor-3 {
  display: flex;
  position: absolute;
  height: 127px;
  width: 324px;
  top: 80px;
  left: 0%;
  background-image: url("./img/blot-grey.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  transform: rotate(40deg);
}
@media screen and (max-width: 768px) {
  .decor-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 155px;
    z-index: -10;
  }
  .decor-abstr-1 {
    width: 160px;

    height: 240px;
    left: 0;
  }
  .decor-1 {
    position: absolute;
    height: 160px;
    width: 240px;

    top: 30%;
    right: 20%;

    background-size: contain;
    background-position: center;

    transform: rotate(-40deg) translate(0px, 0px);
  }
  .decor-abstr-2 {
    width: 160px;
    height: 240px;
    top: -80px;
    right: 0;
  }
  .decor-2 {
    height: 160px;
    width: 240px;
    top: auto;
    bottom: 16%;
    left: 16%;
    transform: rotate(-60deg);
    object-fit: contain;
    background-position: center;
  }
  .decor-abstr-3 {
    display: none;
  }
}
/* @media screen and (max-width: 768px) {
  .decor-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 155px;
  }
  .decor-abstr {
    position: absolute;
  }
  .decor-abstr-1 {
    display: none;
  }

  .decor-abstr-2 {
    width: 60px;
    height: 140px;
    top: 70px;
    right: 0px;
  }

  .decor-abstr-3 {
    width: 83px;
    height: 162px;
    top: -20px;
  }
} */

/* STAND OUT */

.stand-out {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.stand-out .title {
  position: relative;
  margin: 0;
  padding: 0;

  text-align: center;
}
.underline::after {
  position: absolute;
  content: "";

  width: 126px;
  height: 1px;

  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--font-color-darck);
}

.description-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin: 100px auto;

  /*  */
}

.description-container .card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 360px;
  height: 600px;

  margin: 0 40px;

  font-family: var(--font-futura-pt);

  transition: all ease 1s;
  /* overflow: hidden; */
}

.description-container .card:hover::after {
  position: absolute;
  content: "";

  width: 360px;
  height: 1px;

  bottom: -18px;

  background-color: var(--font-color-darck);
}

.description-container .card h4 {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 31px;
  line-height: 40px;
  letter-spacing: 0;
  color: var(--font-color-darck);

  font-family: var(--font-futura-pt);
}

h4 {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 31px;
  line-height: 40px;
  letter-spacing: 0;
  color: var(--font-color-darck);

  font-family: var(--font-futura-pt);
}
.description-container .card .text-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: fit-content;

  margin: 8px 0 0 0;
}

.bold {
  font-weight: 700;
}
.description-container .card span {
  margin: 0;
  padding: 0;
}

.description-container .card ul {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  height: fit-content;
  margin: 0;
  padding: 0;

  width: 100%;
  height: 122px;
}
.description-container .card ul li {
  position: relative;
  display: flex;
  text-align: left;
  align-items: center;
  height: 46px;
  width: fit-content;
  padding: 0 0 0 55px;
}

.description-container .card ul li::before {
  position: absolute;
  text-align: center;
  align-content: center;

  width: 46px;
  height: 46px;

  left: 0;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 100%;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);

  font-size: 20px;
  font-weight: 700;
}
.description-container .card ul .one::before {
  content: "1";
}
.description-container .card ul .two::before {
  content: "2";
}

.img-container {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 290px;

  bottom: 0;
}

.img-container-half {
  box-sizing: border-box;
  display: flex;

  height: 100%;
  width: 47%;
}

.img-container img,
.img-container-half img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.img-container .decor-el {
  position: absolute;
  height: 77px;
  width: 135px;

  background-image: url("./img/blot-grey.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -10;
}

.img-container .decor-el-1 {
  bottom: 16%;
  left: -84px;
  transform: rotate(-116deg);
}
.img-container .decor-el-2 {
  top: 24%;
  right: -80px;
  transform: rotate(90deg);
}
.img-container .decor-el-3 {
  bottom: 16%;
  left: -80px;
  transform: rotate(76deg);
}
.img-container .decor-el-4 {
  bottom: 10%;
  right: -60px;
  transform: rotate(66deg);
}
.img-container .decor-el-5 {
  bottom: 36%;
  left: -90px;
  transform: rotate(-130deg);
}
.img-container .decor-el-6 {
  bottom: 10%;
  right: -60px;
  transform: rotate(66deg);
}

@media screen and (max-width: 768px) {
  .stand-out {
    width: 100%;

    overflow: hidden;

    margin-bottom: 54px;
  }
  .underline::after {
    width: 140px;
  }
  .description-container {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0px auto;
  }
  .description-container .card {
    width: 90%;
    height: fit-content;
    margin: 10px auto;
  }
  .description-container .card:hover::after {
    position: absolute;
    content: "";
  }
  .description-container .card:after {
    position: absolute;
    content: "";

    width: 100%;
    height: 1px;

    bottom: -10px;

    background-color: var(--font-color-darck);
  }

  .description-container .card h4 {
    display: flex;
    width: 100%;
    height: fit-content;
    font-size: 20px;
    line-height: 26px;
  }
  .description-container .card .text-wrapper {
    display: flex;
    width: 100%;
    height: fit-content;

    margin: 0 0 30px 0;
    padding: 0;
  }
  .description-container .card span {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    font-size: 13px;
    line-height: 16px;
  }
  .description-container .card ul {
    height: max-content;
    margin: 0 0 0 6px;
  }
  .description-container .card ul li {
    margin: 20px 0 20px 0px;
    padding: 0 0 0 55px;

    width: fit-content;
  }

  .description-container .card .img-container {
    position: relative;
  }
  .description-container .card ul li::before {
    width: 40px;
    height: 40px;
  }
}
/*  */

/* only on mob visible section - Action */
.onlyMob-action {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
}

@media screen and (max-width: 1240px) {
  .onlyMob-action {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: center;

    width: 100%;
    height: auto;

    margin: 0 0 17px 0;

    background-color: var(--font-color-light-active);
  }
  .onlyMob-action .title-wrapper {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    padding: 70px 0 0 0;
    overflow: hidden;
  }
  .onlyMob-action .title-wrapper .title {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .onlyMob-action .title-wrapper::before,
  .onlyMob-action .title-wrapper::after {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    content: "";

    width: 137px;
    height: 70px;

    top: 40px;

    background-image: url("./img/blot-grey.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
  }
  .onlyMob-action .title-wrapper::before {
    left: -60px;

    transform: rotate(-45deg);
  }
  .onlyMob-action .title-wrapper::after {
    right: -60px;
    transform: rotate(35deg);
  }

  .onlyMob-action .content-wrapper {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    margin: 70px 0 0 0;
    padding: 0;

    list-style: none;
  }

  .onlyMob-action ul li {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;

    width: 90%;
    height: 40px;
    margin: 0 auto 30px auto;
    padding: 0 0 0 70px;
    font-size: 13px;
    line-height: 17px;
    font-family: var(--font-futura-pt);
    color: var(--font-color-darck);
  }

  .onlyMob-action ul li::before {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    border-radius: 100%;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 700;
  }
  .onlyMob-action ul li:nth-child(1)::before {
    content: "1";
  }
  .onlyMob-action ul li:nth-child(2)::before {
    content: "2";
  }
  .onlyMob-action ul li:nth-child(3)::before {
    content: "3";
  }
  .onlyMob-action ul li:nth-child(4)::before {
    content: "4";
  }
  .onlyMob-action ul li:nth-child(5)::before {
    content: "5";
  }
  .onlyMob-action ul li:nth-child(6)::before {
    content: "6";
  }
  .onlyMob-action ul li:nth-child(7)::before {
    content: "7";
  }
}
/* COMPOSITION */

.composition {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: auto;
  margin: 0 auto;

  background-color: var(--font-color-light-active);
}
.composition .title-wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.composition .title-wrapper .title {
  position: relative;
}

.composition h4 {
  font-family: var(--font-futura-pt);
  margin: 100px 0 0 0;
}
/* 111 */
.composition .content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  height: auto;
  margin: 100px auto 0 auto;
}

.content-wrapper .row {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  z-index: 10;
}

.content-wrapper .row .item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 28%;
  height: fit-content;
  margin: 0 0 40px 0;
  color: var(--font-color-darck);
  font-family: var(--font-futura-pt);
}
.content-wrapper .row .item h4,
.content-wrapper .row .item .text {
  margin: 0;
  padding: 0;
}
.content-wrapper .row .item:hover::after {
  position: absolute;
  content: "";

  width: 268px;
  height: 1px;

  top: 130px;

  background-color: var(--font-color-darck);
}
.content-wrapper .row .item .icon {
  position: relative;
  box-sizing: border-box;
  display: flex;

  height: 70px;
  width: 70px;

  margin: 0 0 20px 0;

  border-radius: 100%;

  background-repeat: no-repeat;
  /* background-size: 70%; */
  background-position: center;
  background-color: #d9d9d9;
}
.content-wrapper .row .item .icon-1 {
  background-image: url("./img/1-3.svg");
}
.content-wrapper .row .item .icon-2 {
  background-image: url("./img/2.svg");
}
.content-wrapper .row .item .icon-3 {
  background-image: url("./img/1-3.svg");
}
.content-wrapper .row .item .icon-4 {
  background-image: url("./img/5.svg");
}
.content-wrapper .row .item .icon-5 {
  background-image: url("./img/4-c.svg");
}
.content-wrapper .row .item .icon-6 {
  background-image: url("./img/6.svg");
}

.content-wrapper .row .item .capasity {
  margin: 20px 0;
  font-size: 18px;
}
.content-wrapper .row .item .text {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  overflow-wrap: break-word;
  font-size: 18px;
}

.content-wrapper .primary-product {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.content-wrapper .primary-product .product-img {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: min-content;
  height: 90%;

  z-index: 10;
}

.content-wrapper .primary-product .product-img .primary-img {
  display: flex;
  width: min-content;
  height: 100%;
  object-fit: contain;
}

.product-img .decor1 {
  width: 124px;
  height: 324px;
  object-fit: contain;
  width: 180px;
  height: 373px;

  right: -2%;
  top: 22%;
  transform: rotate(30deg);
  z-index: -10;
}
.product-img .decor2 {
  width: 124px;
  height: 324px;
  object-fit: contain;
  width: 220px;
  height: 460px;

  left: -4%;
  bottom: 22%;
  transform: rotate(36deg);
  z-index: -10;
}

.content-wrapper .primary-product .buy-now {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  border: none;

  width: 171px;
  height: 46px;

  font-family: var(--font-futura-pt);
  font-size: 20px;
  font-weight: 700;

  color: var(--bg-primary-color);
  background-color: var(--decor-primary-color);
}

/*  */

.dog-parallax-section {
  position: relative;
  box-sizing: border-box;
  box-sizing: border-box;
  display: flex;

  width: 100%;
  height: 550px;

  margin: 0;
  padding: 0;

  background-color: var(--font-color-light-active);
}

.dog-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 800px;
  height: 100%;

  margin: 0 auto;
}

.bottom-dog {
  position: absolute;
  display: flex;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
  height: 490px;
  bottom: 0px;
  z-index: 10;
}

.bg-dog {
  position: absolute;
  display: flex;
  width: 220px;
  height: 448px;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bg-dog img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bg-dog1 {
  top: 25%;
  left: 10%;
}
.bg-dog1 img {
  object-position: center center;
}

.bg-dog2 {
  top: 15%;
  right: 0%;
}

.bg-dog2 img {
  object-position: 30px 90%;
  transform: rotate(30deg);
}

.bottom-dog,
.bg-dog {
  transition: transform 0.3s ease-out;
}

@media screen and (min-width: 769px) and (max-width: 1240px) {
  /*  */
  .composition {
    width: 100%;
  }
  /*  */
  .composition .title-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .composition .title-wrapper .title {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .composition .title-wrapper h4 {
    font-size: 13px;
  }

  .composition .title-wrapper::before,
  .composition .title-wrapper::after {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    content: "";

    width: 137px;
    height: 70px;

    top: 40px;

    background-image: url("./img/blot-grey.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
  }
  .composition .title-wrapper::before {
    left: -6%;

    transform: rotate(-45deg);
  }
  .composition .title-wrapper::after {
    right: -6%;
    transform: rotate(35deg);
  }
  /*  */
  .composition .content-wrapper {
    flex-direction: column;
    width: 100%;
    margin: 70px 0 0 0;
  }
  /* 333 */
  .content-wrapper .row {
    width: 100%;
    min-height: fit-content;

    /* flex-direction: column; */
  }
  .content-wrapper .row .item .text {
    width: 90%;
    margin: 0 auto;
    min-height: fit-content;
  }
  /*  */
  /* .content-wrapper .row .item:nth-child(2)::before,
  .content-wrapper .row .item:nth-child(2)::after {
    position: absolute;
    content: "";

    width: 137px;
    height: 70px;

    top: 40px;

    background-image: url("./img/blot-grey.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
  }
  .content-wrapper .row .item:nth-child(2)::before {
    left: -8%;

    transform: rotate(-45deg);
  }
  .content-wrapper .row .item:nth-child(2)::after {
    right: -7%;
    transform: rotate(35deg);
  } */
  /*  */

  .content-wrapper .row .item {
    width: 290px;
    min-width: min-content;
    /* width: 100%; */
    margin: 30px auto;
    min-height: fit-content;
    overflow: hidden;
  }
  .content-wrapper .row .item h4 {
    font-size: 20px;
  }
  .content-wrapper .row .item .text {
    font-size: 13px;
  }
  .content-wrapper .primary-product {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 600px;
  }
  .content-wrapper .primary-product .product-img {
    box-sizing: border-box;
    height: 500px;
  }
  .content-wrapper .primary-product .product-img .primary-img {
    /* width: min-content; */
    height: 100%;

    object-fit: contain;
    object-position: center;
  }
  .content-wrapper .primary-product .buy-now {
    position: relative;
    margin: 26px 0;
    padding: 0;
  }
  .product-img .decor1 {
    right: 50%;
  }
  .product-img .decor2 {
    left: 50%;
  }
}
@media screen and (max-width: 768px) {
  /*  */
  .composition {
    width: 100%;
  }
  .composition .title-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .composition .title-wrapper h4,
  .content-wrapper .row .item .text {
    font-size: 13px;
  }
  .content-wrapper .row .item h4 {
    font-size: 20px;
  }
  .composition .content-wrapper {
    flex-direction: column;
    width: 100%;
    margin: 70px 0 0 0;
  }
  .composition .title-wrapper .title {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .composition .title-wrapper::before,
  .composition .title-wrapper::after {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    content: "";

    width: 137px;
    height: 70px;

    top: 40px;

    background-image: url("./img/blot-grey.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
  }
  .composition .title-wrapper::before {
    left: -6%;

    transform: rotate(-45deg);
  }
  .composition .title-wrapper::after {
    right: -6%;
    transform: rotate(35deg);
  }
  .content-wrapper .row {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .content-wrapper .row .item {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 20px auto;
    overflow-wrap: break-word;
    overflow: hidden;
  }
  /*  */
  .content-wrapper .row .item:nth-child(2)::before,
  .content-wrapper .row .item:nth-child(2)::after {
    position: absolute;
    content: "";

    width: 137px;
    height: 70px;

    top: 40px;

    background-image: url("./img/blot-grey.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
  }
  .content-wrapper .row .item:nth-child(2)::before,
  .content-wrapper .row .item:nth-child(2)::after {
    position: absolute;
    content: "";

    width: 137px;
    height: 70px;

    top: 40px;

    background-image: url("./img/blot-grey.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .content-wrapper .row .item:nth-child(2)::before {
    left: -50px;

    transform: rotate(-45deg);
  }
  .content-wrapper .row .item:nth-child(2)::after {
    right: -50px;
    transform: rotate(35deg);
  }

  .content-wrapper .row .item .text {
    max-width: 290px;
    width: 90%;
    margin: 0 auto;
    height: fit-content;
    overflow-wrap: break-word;

    font-size: 16px;
    line-height: 18px;
  }

  /*  */

  /*  */
  .composition .title {
    margin-top: 70px;
  }

  .composition h4 {
    position: relative;
    display: flex;
    margin: 80px 0 0 0;
  }

  .composition h4::after {
    position: absolute;
    content: "";

    width: 140px;
    height: 1px;

    bottom: -30%;

    background-color: var(--font-color-darck);
  }

  .content-wrapper .row .item:hover::after {
    position: absolute;
    content: "";
  }

  .content-wrapper .row .item .capasity {
    margin: 20px 0;
    font-size: 16px;
    line-height: 18px;
  }

  .content-wrapper .primary-product {
    position: relative;
    flex-direction: column;

    width: 100%;
    height: auto;
  }

  .content-wrapper .primary-product .product-img {
    width: 100%;
    height: 411px;

    margin: 0 0 40px 0;
    overflow: hidden;
  }

  .content-wrapper .primary-product .product-img .primary-img {
    width: 100%;
    height: 100%;
    object-position: center center;
  }
  .product-img .decor1 {
    width: 111px;
    height: 283px;
    right: 55%;
  }
  .product-img .decor2 {
    width: 111px;
    height: 283px;
    left: 55%;
  }

  .content-wrapper .primary-product .buy-now {
    margin: 26px 0;
    position: relative;
  }

  .dog-container {
    position: relative;
    /* width: 100%; */
    height: 290px;

    /* overflow: hidden; */
  }
  .bottom-dog {
    width: 100%;
    height: 100%;
    bottom: 0;
    object-fit: contain;
    object-position: bottom;
  }

  .bg-dog {
    width: 80px;
    height: 202px;

    overflow: hidden;
  }

  .bg-dog1 {
    top: 30%;
    left: 10%;
  }
  .bg-dog2 {
    top: 24%;
    right: 10%;
  }
  .bg-dog2 img {
    transform: rotate(50deg);
  }
}

/*  */

.products {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;

  background-color: var(--bg-primary-color);
  z-index: 10;
}

.products .select-wrapper,
.products .select-wrapper label {
  box-sizing: border-box;
  position: relative;
  display: flex;
  font-family: var(--font-futura-pt);
  font-size: 20px;
  line-height: 26px;
  border: 1px solid;
  border-color: var(--decor-primary-color);
}
.products .select-wrapper {
  height: 46px;
  margin: 50px 0;
}
.products .select-wrapper label {
  padding: 10px;
}
#produkt-list {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: relative;
  display: flex;
  width: 127px;
  height: 46px;
  margin: 0;
  padding: 0 15px 0 0;
  font-family: var(--font-futura-pt);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--bg-primary-color);
  border: none;
  background-color: var(--decor-primary-color);
}
.products .select-wrapper::after {
  position: absolute;
  content: "";
  display: flex;
  box-sizing: border-box;
  width: 13px;
  height: 7px;

  bottom: 20px;
  right: 50%;
  transform: translateX(20px);

  background-image: url("./img/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.product-list {
  position: relative;
  display: flex;

  justify-content: center;
  max-width: 1920px;
  width: 90%;
  height: max-content;
  min-height: 480px;
  margin: 0 auto 30px auto;
  flex-wrap: wrap;
}

.product {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 371px;
  min-width: max-content;
  height: 350px;
  min-height: max-content;
  margin: 12px;
  font-family: var(--font-futura-pt);
  font-size: 31px;
  line-height: 39px;
  background-color: rgba(190, 190, 190, 1);
}

@media screen and (max-width: 1240px) {
  .products .select-wrapper {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
    max-width: 90%;
    max-height: 92px;
    min-height: max-content;

    padding: 0;
  }
  .select-wrapper label {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    width: 100%;
    max-height: 50%;
    min-height: max-content;
    font-size: 20px;
    overflow-wrap: break-word;
  }
  #produkt-list {
    position: relative;
    width: 100%;
    min-width: 90%;
    height: 46px;
    min-height: none;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
  }

  .product h2 {
    font-size: 31px;
  }
}

@media screen and (max-width: 420px) {
  .product {
    width: 105px;
    height: 105px;
  }
}

/*  */
.blur-container_mob-bg {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  top: 0;
  right: 0;

  overflow: hidden;

  background-color: #ffffffdd;
  z-index: 100;

  cursor: pointer;

  z-index: 1100;
}
.blur-container_pop-up {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  top: 0;
  right: 0;

  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  cursor: pointer;
}
/*  */
.pop-up {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 843px;
  height: 265px;
  padding: 10px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: var(--font-color-light-active);

  border-radius: 8px;

  font-family: var(--font-futura-pt);
  font-size: 31px;
  z-index: 110;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.close-pop-up {
  position: relative;
  display: flex;

  width: 20px;
  height: 20px;

  cursor: pointer;
}

.close-pop-up::after,
.close-pop-up::before {
  position: absolute;
  content: "";

  width: 20px;
  height: 2px;

  top: 50%;
  right: 0;

  background-color: var(--font-color-darck);
}

.close-pop-up::after {
  transform: rotate(45deg);
}
.close-pop-up::before {
  transform: rotate(-45deg);
}

.pop-up .content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.id-title,
.text-title {
  color: var(--font-color-darck);
}

@media screen and (max-width: 1024px) {
  .pop-up {
    width: 90%;
    height: 265px;
  }
}

.error {
  display: flex;
  width: 340px;
  font-size: 18px;
  font-weight: bold;
  color: red;
  border-bottom: 1px solid red;
  margin: -30px 0 50px 0;
}
